.w-50.view-center
  = simple_form_for @service do |f|
    .mb-3= f.input :name, label: t('service.name')

    .actions
      = link_to t('shared.cancel'), services_path, class: 'btn btn-secondary me-1'
      = f.submit t('shared.save'), class: 'btn btn-primary'
