- title ||= ""
- show_confirm ||= false

.d-sm-flex.align-items-center.mt-4
  %h1.h3.flex-grow-1
    = title

  .mt-3.mt-md-0.me-4
    - progress_num ||= 1

    %ul.breadcrumb-arrows.pl-0.text-center
      %li{class: ('active' if progress_num == 1)}
        %a
          .num 1
          Upload File
      %li{class: ('active' if progress_num == 2)}
        %a
          .num 2
          Review

      - if show_confirm
        %li{class: ('active' if progress_num == 3)}
          %a
            .num 3
            Confirmed
