# App config
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

# For view to know which version you're working on
APP_VERSION=development

# For Sidekiq
REDIS_URL=redis://redis:6379

# Login with Gmail(Go to https://console.cloud.google.com/)
# Callback in development: http://localhost:3000/auth/google_oauth2/callback
GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me

# Login with Facebook(Go to https://developers.facebook.com)
# Callback in development: http://localhost:3000/auth/facebook/callback
FACEBOOK_APP_ID=change_me
FACEBOOK_APP_SECRET=change_me

# Recaptcha (https://www.google.com/recaptcha/admin/create)
RECAPTCHA_SITE_KEY=site_key
RECAPTCHA_SECRET_KEY=site_secret

# Grafana callback_url to setup in Doorkeeper::Application
# http://localhost:8000/login/generic_oauth

GF_DASHBOARD_URL=http://localhost:8000/login/generic_oauth
GF_DASHBOARD_ADMIN_USERNAME=admin
GF_DASHBOARD_ADMIN_PASSWORD=password
GF_DASHBOARD_BASE_URL=http://192.168.1.126:8000
