# App config
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5

# For view to know which version you're working on
APP_VERSION=development

# For Sidekiq
REDIS_URL=redis://redis:6379

# Login with Gmail(Go to https://console.cloud.google.com/)
# Callback in development: http://localhost:3000/auth/google_oauth2/callback
GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me

# Login with Facebook(Go to https://developers.facebook.com)
# Callback in development: http://localhost:3000/auth/facebook/callback
FACEBOOK_APP_ID=change_me
FACEBOOK_APP_SECRET=change_me
FACEBOOK_LOGIN_ENABLED=false

# Recaptcha (https://www.google.com/recaptcha/admin/create)
RECAPTCHA_SITE_KEY=site_key
RECAPTCHA_SECRET_KEY=site_secret

# Grafana callback_url to setup in Doorkeeper::Application
# http://localhost:8000/login/generic_oauth

# Grafana setting
GF_DASHBOARD_URL=http://localhost:8000/login/generic_oauth
GF_DASHBOARD_ADMIN_USERNAME=admin
GF_DASHBOARD_ADMIN_PASSWORD=password
GF_DASHBOARD_BASE_URL=http://192.168.1.126:8000

# Setting
MAX_DOWNLOAD_VISIT_RECORD=1000

# Device config
MAILER_SENDER=please-change-me-at-config-initializers-devise@example.com

# SMTP config
SETTINGS__SMTP__ADDRESS=smtp
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=smtp
SETTINGS__SMTP__PASSWORD=smtp
SETTINGS__SMTP__PORT=1025
SETTINGS__SMTP__HOST=localhost:3000
SETTINGS__SMTP__DEFAULT_FROM=notifications@example.org

# Privacy Policy
CONTACT_EMAIL=
CONTACT_PHONE=

# App info
APP_NAME=សុខភាពខ្ញុំ

# Sentry.io
SENTRY_DSN=change_me

# CORS allow domains separated by comma
CORS_ALLOW_ORIGINS=localhost:8000

# Push notification
# 1) Go to https://console.firebase.google.com/
# 2) Create a project
# 3) Go to project setting > General > Copy Project ID
FIREBASE_PROJECT_ID=
# 4) Go to project setting > Service accounts > Click on Generate new private key button and download the json file
# 5) put the file to Rails.root
GOOGLE_APPLICATION_CREDENTIALS_PATH=firebase_service_account_key.json

# User guide as video
USER_GUIDE_VIDEO_LINK_FOR_PRIMARY_ADMIN=update_link
USER_GUIDE_VIDEO_LINK_FOR_ADMIN=update_link
USER_GUIDE_VIDEO_LINK_FOR_STAFF_LINK=update_link

# Telegram callback url
TELEGRAM_CALLBACK_URL=https://ngrok.io/api/integration/telegram

# whitelist ip with comma separated
# Telegram ip list: https://ipinfo.io/AS62041#block-ranges
ALLOWED_HOSTS=149.154.160.0/22, 149.154.164.0/22, 91.108.4.0/22, 91.108.56.0/22, 91.108.8.0/22, 95.161.64.0/20

# rack-attack
SAFELIST_IPS=127.0.0.1 #semi-colon separate
BLOCKLIST_IPS=10.10.10.1;10.10.10.2 #semi-colon separate
THROTTLE_PERIOD_IN_SECOND=2
THROTTLE_REQUEST_LIMIT=5
