%p
  Hello #{@user.email}!

%p Someone has requested a link to login to your account. You can do this through the password below.

%p
  %b= @token

%p If you didn't request this, please ignore this email.
