.field-type-wrapper
  .flex-row
    .flex1
      .field-type-list{'data-field_type' => 'Questions::SelectOne', 'data-questions-target': 'btnFieldType', 'data-action': 'click->questions#renderTitleStyle'}
        %i.far.fa-dot-circle.icon
        Select one
