%div{'data-controller': 'confirm-delete'}
  #confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title
            / Message title to replace
            = t('shared.confirm_delete', name: '_type_')

          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

        .modal-body
          / Message body to replace
          = t('shared.are_you_sure_to_delete', type: "_type_", name: '_name_').html_safe

        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= t('shared.cancel')

          / Message url to replace
          = button_to t('shared.yes_delete'), '#', method: :delete, class: 'btn btn-danger'
