- confirm_title ||= "Confirm to import"
- confirm_body ||= "Are you sure to import?"

#confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          %i.fas.fa-exclamation-triangle.text-danger
          %span.title= confirm_title

        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

      .modal-body.text-left
        = confirm_body

      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= t("shared.cancel")

        = f.submit t('shared._yes'), class: 'btn btn-primary'
