= render "shared/modals/remote_modal", title: t('shared.confirm_delete', name: t('user.user')) do
  %div
    = t('shared.are_you_sure_to_delete', type: t('user.user'), name: @user.email).html_safe

  .d-flex.justify-content-end.mt-3
    = render "shared/buttons/modal_cancel_button"
    = render "shared/buttons/modal_delete_button", item: @user
