%form{ action: videos_path, method: 'get' }
  .input-group.my-2.search-input
    = text_field_tag(:title, params[:title], class: 'form-control', placeholder: t('video.title'))
    %span.input-group-text
      %i.fas.fa-search
