.d-flex.justify-content-end
  = render "shared/buttons/add_new_button", url: new_video_path, name: t("video.video")

  %button.btn.btn-sm.ms-1{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    %i.fa-solid.fa-ellipsis-vertical

  %ul.dropdown-menu.dropdown-menu-end
    %li
      %a.dropdown-item{ href: new_video_batch_path }
        %i.fa-solid.fa-file-import
        %span បញ្ចូលវីដេអូតាម Exel
    %li
      %a.dropdown-item{ href: video_batches_path }
        %i.fa-solid.fa-clock-rotate-left
        %span ប្រវត្តិនៃការបញ្ចូលវីដេអូ
