.d-flex.flex-grow-1
  .pagy-wrapper.justify-content-lg-end.justify-content-center
    .d-flex.flex-grow-1
      .flex-1.d-flex.align-items-center.mb-2
        %span
          = t("shared.display_total", total_count: total_count).html_safe
