%nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark{'data-controller': "sidebar"}
  / Navbar Brand
  %a.navbar-brand.ps-3.text-center{ href: '/' }
    = image_tag 'logo_color.png', height: 40
    = ENV["APP_NAME"]
  / Sidebar Toggle
  %button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0{:href => "#!", data: { action: "click->sidebar#toggle" } }
    %i.fas.fa-bars

  .d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0

  = render "shared/switch_language"
