%form.form-search.d-flex{ action: app_users_path, method: 'get' }
  = render 'shared/filters/filter_date', placeholder: t('app_user.search_by_registered_at')

  %div
    %button.btn.btn-primary.ml-md-2{type: :submit}
      %i.fas.fa-search
      %span.d-none.d-lg-inline= t('shared.search')
