- if policy(object).update?
  = link_to url, class: "btn btn-circle btn-sm btn-outline-warning me-1", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top'}, title: t('shared.edit') do
    %i.fas.fa-pen
