%form{ action: pages_path, method: 'get' }
  .input-group.my-2.search-input
    = text_field_tag(:keyword, params[:keyword], class: 'form-control', placeholder: t('page.find_by_code_or_name'))
    %span.input-group-text
      %i.fas.fa-search
