%form{ action: pages_path, method: 'get' }
  .d-flex
    .mb-2.flex-grow-1
      = render "shared/filters/filter_name", field_name: "keyword", placeholder: t('page.find_by_code_or_name')

    = render "visits/switch_view_buttons"
