%form{ action: api_keys_path, method: 'get' }
  .input-group.my-2.search-input
    = text_field_tag(:name, params[:name], class: 'form-control', placeholder: t('shared.name'))
    %span.input-group-text
      %i.fas.fa-search
