.filter-input
  = select_tag 'platform', options_for_select(MobileToken::PLATFORMS, params[:platform]), include_blank: true, "data-none-selected-text" => t('visit.any_platform'), class: 'selectpicker form-control'
