.d-flex.justify-content-end
  = render "shared/buttons/add_new_button", url: new_mobile_notification_path, title: t('mobile_notifications.new_mobile_notifications')

  %button.btn.btn-sm.ms-1{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    %i.fa-solid.fa-ellipsis-vertical

  %ul.dropdown-menu.dropdown-menu-end
    %li
      %a.dropdown-item{ href: new_mobile_notification_importer_path }
        %i.fa-solid.fa-file-import
        %span បញ្ចូលការជូនដំណឹងតាម Exel
    %li
      %a.dropdown-item{ href: mobile_notification_importers_path }
        %i.fa-solid.fa-clock-rotate-left
        %span ប្រវត្តិនៃការបញ្ចូលការជូនដំណឹង
