- @survey.topic.questions.each_with_index do |question, index|
  - if answer = @survey.survey_answers.select{ |a| a.question_id == question.id }.first.presence
    .mb-3.p-1.card{ style: 'background-color: rgba(0, 0, 0, 0.05)' }
      %div= "#{index + 1}) #{question.name}"

      .mt-1
        - answer.value.split(',').each do |value|
          .d-flex.align-items-center
            %i.far.fa-check-circle.me-2.text-success
            %strong= value
