.field-type-wrapper
  .flex-row
    .flex1
      - [Questions::SelectOne, Questions::Faq].each do |klass|
        .field-type-list{'data-action': 'click->questions#renderTitleStyle', 'data-questions-field_type-param': "#{klass}", 'data-field_type' => "#{klass}"}
          %span= klass.new.icon.html_safe
          = klass.new.label
