.btn-group.btn-group-sm{"aria-label" => "Basic outlined example", :role => "group"}
  = link_to topic_tags_path, class: ['btn btn-outline-secondary', css_active_class('topic_tags')] do
    %i.fa-solid.fa-tag
    = t("shared.tags")

  = link_to faq_forms_path, class: ['btn btn-outline-secondary', css_active_class('faq_forms')] do
    %i.fa-solid.fa-file-circle-question
    = t("topic.faq_form")
