.btn-circle {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions, .form-actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.view-center {
  margin: 0 auto;
}

.notify-message {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1040;
}

.search-input, .filter-input {
  width: 300px;
}

.page-item .page-link {
  border-radius: 0;
}

.sb-nav-link-icon {
  min-width: 20px;
}

.sb-nav-link-icon {
  font-size: 0.9rem;
}

.android-icon {
  color: #3DDC84;
}

.ios-icon {
  color: #089cf5;
}

.user-guide {
  cursor: pointer;
  text-decoration: none;
}

.file-control-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;

  input:focus {
    outline: none;
  }
}
