// Select picker
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color: #6e707e;
}

.bootstrap-select .dropdown-menu li a {
  color: #6e707e;
  font-size: 0.95rem;
}

.bootstrap-select button {
  color: #6e707e;
  background-color: #fff;
  border-color: #ced4da;
}

.bootstrap-select button:hover {
  border-color: #ced4da !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(0,0,0,0.05);
}

.dropdown-menu.show {
  z-index: 1040;
}
