#confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          %i.fas.fa-exclamation-triangle.text-danger
          %span.title= t('video_batch.confirm_title')

        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}

      .modal-body.text-left
        = t('video_batch.confirm_message', total_count: @video_batch.valid_count).html_safe

      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= t("shared.cancel")

        = f.submit t('video_batch._yes'), class: 'btn btn-primary'
