.d-sm-flex.align-items-center.mt-4
  %h1.h2.flex-grow-1
    = t('video_batch.import_wizard')

  .mt-3.mt-md-0.me-4
    - progress_num ||= 1

    %ul.breadcrumb-arrows.pl-0.text-center
      %li{class: ('active' if progress_num == 1)}
        %a
          .num 1
          Upload File
      %li{class: ('active' if progress_num == 2)}
        %a
          .num 2
          Review
      %li{class: ('active' if progress_num == 3)}
        %a
          .num 3
          Confirmed
