= render "shared/forms/wizard_review", form_url: mobile_notification_importers_path, title: t('mobile_notification.mobile_notification'), wizard_list_path: "mobile_notification_importers/wizard_list"
